<!DOCTYPE html>
<html lang="en" dir="ltr">

    <script src="/public/js/auth.js"></script>

    <section class="home-section">
        <div class="text">{{.PageName}}</div>
    </section>

   <label>UserName : </label> <input id="userName"/>
   <br/>
   <label>Password : </label> <input id="password" type ="password"/>
   <button onclick = login()>Login</button>
   <div id = "error"></div>
</html>