<!DOCTYPE html>
<html lang="en" dir="ltr">

    <script src="/public/js/dashboard.js"></script>

    <section class="home-section">
        <div class="text">{{.PageName}}</div>
    </section>
<div><a href="/dashboard/add-item">Add Menu Items</a></div>
<div><a href="/dashboard/edit-menu-item">Edit Menu Items</a></div>
<br/>
<button onclick="logOut()">Logout</button>
</html>